@use "../../../mixins";
@use "../../../variables";
.filter {
  width: fit-content;
  height: fit-content;
  font-family: inherit;
  grid-column: 1 / -1;
  z-index: 10;
  user-select: none;
  position: relative;

  .selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px 5px 12px;
    border-radius: 4px;
    border: solid 1px variables.$selector-border-color;
    background-color: #fff;
    font-size: 14px;
    height: 32px;
    width: 240px;

    cursor: pointer;
    &:hover {
      border-color: variables.$active-color;
      color: variables.$active-color;
      stroke: variables.$active-color;
    }
  }

  .dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 variables.$dropdown-bg-color;
    width: 240px;
    height: 139px;
    margin: 0 0 0 1px;
    background-color: #fff;
    cursor: pointer;
    z-index: -10;
    transition: all 0.2s ease;
    opacity: 0;
    transform: translateY(-32px);

    // Controls dropdown show animation

    &.active {
      opacity: 1;
      transform: unset;
    }

    &.hidden {
      display: none;
    }
  }

  .option {
    display: flex;
    align-items: center;
    gap: 13px;
    height: 46px;
    padding: 0 12px;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #eaeaea;
    }
  }

  .option-selection {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  svg {
    width: 22px;
    height: 22px;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.5;
  }

  .all--container {
    display: flex;
    align-items: center;
    gap: 13px;
    height: 46px;
    padding: 0 12px;
  }

  .all--image {
    fill: none;
    stroke-width: 1;
    width: 26px;
    height: 26px;
    margin-right: -3px;
    margin-left: -2px;
  }
}
