header {
  top: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  background: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  height: 7rem;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);

  img {
    position: absolute;
    left: 150px;
    height: auto;
    width: 212px;
  }

  @media (max-width: 600px) {
    & {
      height: 4rem;

      img {
        left: 75px;
        width: 200px;
      }
    }
  }
}
